{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#    <link rel="stylesheet" href="{% load bootstrap4  %}">#}
{#    <link rel="stylesheet" href="{% load bootstrap4  %}">#}
{#    <link rel="stylesheet" href="{% load bootstrap4  %}">#}
    <title>Update Tasks</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>TO-DO-LIST</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        Update Task
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-info" type="submit" value="<- Go back">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>